.sidebar {
    width: 300px;
    flex-shrink: 0;
    background-color: #F8F7F7;
    padding: 48px 24px;
    color: black;
    text-align: left;
  }

  .section-header {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sidebar-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }