.sidebar {
    width: 300px;
    flex-shrink: 0;
    background-color: #F8F7F7;
    padding: 48px 24px;
    color: black;
    text-align: left;
  }
  
  .sidebar-measure-filter {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  
  .checkbox, .checkbox-active {
    height: 20px;
    width: 20px;
    padding: 0px;
    border: 2px solid grey;
    background-color: transparent;
    border-radius: 4px;
    flex-shrink: 0;
  }
  
  .checkbox-active {
    background-color: grey;
  }

  .checkbox-active:hover {
    background-color: rgb(168, 168, 168);
  }
  
  .sidebar-measure-filter-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 8px;
  }

  .sidebar-measure-filter-billid {
    font-weight: 600;
  }

  .section-header {
    font-weight: 600;
    font-size: 20px;
  }

  .sidebar-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }